{% extends "base.html" %}

{% block body %}
{% if message %}
<div class="alert alert-success">
	<p>{{ message }}</p>
</div>
{% endif %}
{% if error %}
<div class="alert alert-error">
	<p>{{ error }}</p>
</div>
{% endif %}
<h2>{{ tweetswarm.name }}</h2>
<p>This TweetSwarm retweets tweets meeting the following criteria:
<dl>
	<dt><h4>From account:</h4></dt>
	<dd><h4><a href="http://twitter.com/{{ tweetswarm.master }}">{{ tweetswarm.master }}</a></h4></dd>
	{% if tweetswarm.callsign %}
		<dt><h4>With the hashtag:</h4></dt>
		<dd><h4>#{{ tweetswarm.callsign }}</h4></dd>
	{% endif %}
</dl>
{% if not joined %}
<form action="/tweetswarms/{{ tweetswarm.name }}/" method="post">
	<label for="submit">Click the button to join this TweetSwarm and automatically retweet any tweets meeting the above criteria.</label>
	<button type="submit" class="btn" id="submit">Join this TweetSwarm</button>
</form>
{% else %}
<form action="/tweetswarms/{{ tweetswarm.name }}/{{ token }}/" method="post">
<label for="submit">You're part of this tweetswarm. Click the button to leave it.</label>
<button type="submit" class="btn" id="submit">Leave this TweetSwarm</button>
</form>
{% endif %}
{% endblock %}